<style id="jsbin-css">



body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 190px;
  z-index: 99;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


#myBtn:hover {
  background-color: #4CAF50;
}


#demotext10 {
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 1175px, -7px -10px 111px rgba(206,89,55,0.38);
color: #FFFFFF;
font-size: 10px;
width: center;
position: floated;
top: 30px;
  
}

#demotext11 {
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 1175px, -7px -10px 111px rgba(206,89,55,0.38);
color: black;
font-size: 20px;
position: position;
top: 30px;
  
}

#demotext {
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 1175px, -7px -10px 111px rgba(206,89,55,0.38);
color: #FFFFFF;
font-size: 60px;
}
#demotext1 {
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 1175px, -7px -10px 111px rgba(206,89,55,0.38);
color: #FFFFFF;
font-size: 20px;
}

#demotext2 {
color: #FFFFFF;
text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
color: #FFFFFF;
font-size: 30px;
}

#demotext3 {
color: #e0dfdc;
background: #4CAF50;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
color: #e0dfdc;
background: red;
font-size: 24px;
}
#demotext4 {
color: #e0dfdc;
background: #4CAF50;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
color: #e0dfdc;
background: red;
font-size: 30px;
}


body {margin:0;height:1000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  
}

.icon-bar a:hover {
  background-color: #000;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.reddit {
  background: #dd4b39;
  color: white;
}

.twitch {
  background: #BA55D3;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
}




* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 60px;
  border: 5px solid #ddd;
  margin-bottom: 2px;
   -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#myInput[type=text]:focus {
  width: 80%;
}

#myUL {
  list-style-type: none;
  padding: 40px 45px;
  min-width: 90px;
  margin: 0;
}

#myUL li a {
  border: 2px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #4CAF50;
}


.positioned 
{
position: sticky;
background: yellow; 
top: 30px;
right: 230px;  
  
  }


body {
	margin:0;
}

.header {
  background-color: black;
  color: #EE1B1B;
  padding: 20px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  margin-left: 60px;
  margin-right: 60px;
  top: 0;
  width: 91%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #EE1B1B;
  color: white;
}

.content {
  padding: 16px;
  background-color: #EE1B1B;
}

</style>
  